.input {
  font-size: 20px;
  border: none;
  outline: 1px solid #000;
  padding: 4px;
  border-radius: 4px;
}

.input:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}
