.post {
  padding: 12px;
  max-width: 800px;
  margin: 20px 0;
  width: 100%;

  .parent-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .post-title {
      color: #000;
      font-size: 46px;
      font-weight: 700;
      margin: 0 0 8px 0;
    }
  }

  .post-date {
    color: #111;
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0;
  }
  .post-author {
    color: #111;
    font-size: 18px;
    font-weight: 700;
    margin: 0 8px 0 0;
  }
  .post-text {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    margin: 4px 0;
  }
}
